<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.jmoral.ozcomicreader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SimpleComicReaderApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="es.jmoral.ozcomicreader.custom.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.viewer.ViewerActivity"
            android:theme="@style/AppTheme.Preview" />
        <activity
            android:name=".activities.splashscreen.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.Cbz" />
                <data android:pathPattern=".*\\.cBz" />
                <data android:pathPattern=".*\\.cbZ" />
                <data android:pathPattern=".*\\.CBz" />
                <data android:pathPattern=".*\\.cBZ" />
                <data android:pathPattern=".*\\.CbZ" />
                <data android:pathPattern=".*\\.CBZ" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.Cbr" />
                <data android:pathPattern=".*\\.cBr" />
                <data android:pathPattern=".*\\.cbR" />
                <data android:pathPattern=".*\\.CBr" />
                <data android:pathPattern=".*\\.cBR" />
                <data android:pathPattern=".*\\.CbR" />
                <data android:pathPattern=".*\\.CBR" />
                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity android:name="com.nbsp.materialfilepicker.ui.FilePickerActivity"
            android:theme="@style/AppTheme.NoActionBar.FilePicker"
            tools:replace="android:theme"/>
    </application>

</manifest>